.header_div h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #282538;
}
.header_div h1 span {
  font-weight: 300;
}
